*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.mainheader{
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    align-items: center;
    
}
.mainheader .logo{
    padding-top: 10px;
}
.right-section{
    display: flex;
  /*  align-items: center; */
}
.right-section ul{
    list-style: none;
    display: flex;
}
.road-assistance{
    display: flex;
    padding-left: 10px;
}
.right-section ul li{
    margin-right: 20px;
}

.right-section .navigation a{
    margin-left: 20px;
    text-decoration: none;
    color: black; 
}
.right-section .navigation{
    border-right: 2px solid rgb(211, 199, 199);
}
.road-assistance .imgsection{
    margin-right: 10px;
    padding-top: 5px;
}
.flex{
    display: flex;
}
#landingpage .leftsection {
    width: 45%;
}
#landingpage .imagesection{
    width: 55%;
}
#landingpage{
    padding: 50px 0;
}
#landingpage .imagesection{
    background-image: url("../img/HeaderImage.png");
    background-size: cover;
    background-position: center;
    height: 90vh;

}
.leftsection h1{
    font-size: 64px;
}
.orange{
    background: #FF6433;
border-radius: 12px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 40px;
font-size: 18px;
color: white;
display: inline-block;
margin-top: 35px;
text-decoration: none;
}
.leftsection .imgbox{
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftsection .timetext{
    width: 95%;
}
.time img
{
    width: 100%;
}
.time{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.timetext small{
    color: #939191;
    font-family: 'Manrope';
    font-size: 16px;
}
#quotesection{
    background: #E2E6E9;
    padding: 80px 0;
    min-height: 100vh;
}
#quotesection .firstsection{
width: 47%;
}

#quotesection .ndsection{
width: 50%;
}

#quotesection ul{
    list-style: none;
    padding: 0px;
}
#quotesection .firstsection h2{
    margin-bottom:30px ;
    font-weight: 800;
    font-size: 58px;
}
#quotesection .firstsection .imagew{
    width: 5%;
    margin-right: 10px;
}
#quotesection .firstsection .imagew img{
    width: 100%;
}
#quotesection .firstsection .fortext{
    width: 60%;
}
.fortext p{
    font-size: 16px;
    font-style: normal;
}
.fortext h5{
    font-size: 24px;
}
#quotesection .firstsection .work{
    margin-bottom: 20px;
}
.firstsection .code{
    margin-left: 35px;
    font-size: 18px;
}

.firstsection .plug a{
    display: flex;
    color: #1E1B1B;
    text-decoration: none;
}
.firstsection .plug a p{
    margin-right: 10px;
}

.firstsection .code .lol{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
#quotesection .ndsection h3{
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 15px;
}
#quotesection .ndsection input {
    margin-bottom: 5px;
    width: 100%;
    padding: 17px; 
}

#roll1section{
    padding: 70 0;
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
}

#roll1section .processleft{
    width: 40%;
    margin-top:  150px;
}

#roll1section .processleft h2{
    font-size: 58px;
    font-weight: 600;
    margin-top: 40px;
    
}

#roll1section .processleft p{
    font-size: 16px;
    font-weight: 600;
    color: #1E1B1B;
opacity: 0.6;
width: 60%;
}

#roll1section .processright{
    width: 45% ;
    margin-top: 100px;
    margin-left: 60px;
} 
.processright ul li{
    margin-right: 20px;
}
.processright ul{
    list-style: none;
    
}
.job{
    display: flex;
}

#roll1section .processright .forimg{
    width: 15%;
    text-align: center;
    margin-right: 10px;
}

#roll1section .processright .fortext{
    width: 80%;
}

#roll1section .processright .forimg img{
    width: 100%;
}

#roll1section .processright .forimg .line img{
    width:  2px;
}

#roll1section .processright .fortext h3{
    font-size: 32px;
    font-weight: 700;
    padding-top: 10px;
}

#roll1section .processright .fortext p{
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    color: #1E1B1B;
    opacity: 0.6 ;
}

.justify-between{
    justify-content: space-between;
}
#roll1section .processright ul li{
    margin-bottom: 10px;
}

#offer{
    padding: 80px 0;
    background: #E2E6E9;
    min-height: 100vh;
}
#offer h2, #offer h5{
    text-align: center;
}

#offer .offering .offerbox{
 background: white;
 height: 232px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 24%;
 margin-bottom: 12px;
}

#offer .offering{
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

#offer .offering .offerbox:hover{
background: #FF6433;
color: white;
cursor: pointer;
}

.learn-arrow{
    display: flex;
    justify-content: flex-end;
}

.learn-arrow a{
    display: flex;
    color: #1E1B1B;
    text-decoration: none;
}
.learn-arrow a p{
    margin-right: 10px;
}
#offer h2{
    font-size: 58px;
    font-weight: 800;
}
#offer p{
    font-size: 24px;
    font-weight: 600;
}

#touch {
    min-height: 512px;
    display: flex;
}

#touch .carsection{
    width: 20%;
    min-height: 35vh;
    background: url("../img/carsec.png"), no-repeat;
    background-size: cover;
    background-position: left;
}

#touch .orange-section{
    width: 37%;
    background: #FF6433;
    min-height: 25vh;
}
#touch .toolssecion{
    width: 45%;
    min-height: 25vh;
    background: url("../img/tools.png"), no-repeat;
    background-size: cover;
    background-position: right;
}
#touch .orange-section h2{

font-size: 45px;
font-weight: 700;

text-align: center;
align-items: center;
  margin-top: 78px;
  color: white;
}

#touch .orange-section .contact{
    background: black;
    border-radius: 12px;
    padding: 16px 40px;
    font-size: 18px;
    margin-top: 100px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
}

#touch .orange-section a{
    text-decoration: none;
    color: white;
    font-weight:600, Bold;
}

#experience{
    height: 210px;
    background: lightgrey;
    min-height: 15vh;

}

#experience .latee{
    justify-content: space-between;
    margin: 20px;
}

#experience .latee h2{
    font-weight: 800;
font-size: 58px;
line-height: 76px;
color: #661CE7;

}

#experience .latee p{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

#brand{
    padding: 80px 0;
    background: #FAFAFA;
    min-height: 45vh;
}

#brand .brandimagesection{
    display: flex;
    flex-wrap: wrap;
}
#brand .brandimage{
    width: 20%;
}
#brand .brandheader{
font-size: 48px;
font-weight: 700;
line-height: 67px;

text-align: center;
display: flex;
justify-content: center;
}

#aboutourservice{
    padding: 80px 0;
    background: lightgrey;
    min-height: 100vh;
    
}

#aboutourservice .jonathanandsmith{
    margin-top: 70px;
    justify-content: center;
    justify-content: space-between;
}

#aboutourservice .customer h3{
font-size: 48px;
font-weight: 700;
text-align: center;
}

#aboutourservice .jonathan{
    background: white;
    width: 48%;
    padding: 40px;
    border-radius: 10px;
}
#aboutourservice  .imgsec{
    width: 15%;
    margin-right: 15px;
}

#aboutourservice  .imgsec img{
    width: 100%;
}

#aboutourservice  .word{
    width: 90%;
    margin-top: 5px;
}

#aboutourservice .word h4{
    font-size: 24px;
}

#aboutourservice .word p{
font-size: 16px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: #939191;
}

#aboutourservice .testimonies{
    margin-top: 15px;
}

#aboutourservice .testimonies h3{
    font-weight: 600;
font-size: 24px;

}
#aboutourservice .smith{
    background: white;
    width: 48%;
    padding: 40px;
    border-radius: 10px;
}

#aboutourservice .forarrow{
    margin-top: 10px;
}

#aboutourservice .forarrow .leftarrow{
 margin-top: 7px;

}

#aboutourservice .forarrow .rightarrow{
    margin-left: 10px;
}

#frequently{
    display: flex;
    min-height: 100vh;
    padding: 8% 0;
    background: #E2E6E9;
    justify-content: center;
    
}

#frequently .firstbox {
    justify-content: space-between;
  width: 60%;
  height: 30%;
  background-color: white;
  margin: auto;
  padding: 30px;
  margin-bottom: 1%;
}

.textforfirst{
    width: 80%;
}

.textforfirst h4{
font-size: 24px;
font-weight: 600;
padding-bottom: 10px;
}

.textforfirst p{
    font-weight: 600;
font-size: 14px;
color: #939191;
line-height: 1.5;
}

.sign-box{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #FF6433;
  cursor: pointer;
  padding: 0;
}
.sign-box span{
    color: white;
    justify-content: flex-end;
}

.amongthem{
    justify-content: space-between;
    width: 60%;
    height: 20%;
    background-color: white;
    margin: auto;
    padding: 30px;
    margin-bottom: 1%;
}
.forsecond h4{
    font-weight: 600;
font-size: 24px;
line-height: 36px;
}
 
#frequently .faq .askquestion{
    
   text-align: center;
margin-bottom: 40px;
}

.askquestion{
    font-weight: 700;
font-size: 38px;
}

.firstfooter{
    
  min-height: 30vh;
} 

.firstcontainer{
    background: #1E1B1B;
    opacity: 0.98;
  color: white;
  padding: 8% 0;
  
} 

 .leftfirstfooter{
    width: 45%;
}

 .rightfirstfooter{
    width: 45%;
}

/*.delay{
    justify-content: space-around;
}*/

.firstfooter .leftfirstfooter h2{
    font-weight: 700;
font-size: 48px;
line-height: 1.5;
  padding-bottom: 20px;
}

.firstfooter .leftfirstfooter .links{
    width: 40%;
  justify-content: space-around;
}

.firstfooter .leftfirstfooter .links .facebook,
.firstfooter .leftfirstfooter .links .twitter,
.firstfooter .leftfirstfooter .links .instagram,
.firstfooter .leftfirstfooter .links .linkedin{
    width: 15%;
}

.facebook img, .twitter img, .instagram img, .linkedin img{
    width: 70%;
  }

  .rightfirstfooter p{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 14px;
    margin-top: 15px;
  }

  .rightfirstfooter h5{
    font-size: 24px;
    margin-top: 15px;
  }

  .Help, .Address, .open{
      margin-bottom: 30px;
  }
   
.mainfooter{
    background: #1E1B1B;
      min-height: 10vh;
      width: 100%;
      
}

  /*.firstcontainer{
      width: 70%;
      margin: auto;
  } 
  .container .mainfooter{
      background: #1E1B1B;
      min-height: 10vh;
      width: 100%;
 
  } */

  .folowing li{
      list-style: none;
      margin-right: 40px;
  }
  .folowing ul{
      display: flex;
      justify-content: space-between;
      text-align: center;
      
  }
  .folowing ul a{
      text-decoration: none;
      color: white;
      margin-left: 20px;
     
  }

/*.second-container{
    justify-content: space-between;
   width: 100%;
   align-items: center;
   justify-content: center;

  justify-content: space-between;
  width: 100%;
  background-color: #1E1B1B;

}*/

.footerlogo{
    padding-top: 10px;
}

.footer-links{
    padding: 15px;
}

.footer-links li{
    margin-left: 10px;
    list-style: none;
  }
  .footer-links li a{
    text-decoration:none;
    color: white;
  }
  .footer-links li a:hover{
    color: #FF6433;
  }
  .wordings p{
    color: #939191;
    font-size: 14px;
  }

  .wordings{
      margin-left: 30px;
  }

  /*Media Query for Mobile */
@media (max-width: 426px) {

.mainheader {
    flex-direction: column;
    align-items: flex-start;
}

.right-section ul{
     flex-direction: column;
}

.right-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
}

.right-section .navigation{
    border: none;
}

.right-section .navigation ul{
    padding: 0;
}

.right-section ul li{
    padding: 10px 0;
    margin-right: 0px;
}

.right-section .navigation a{
    margin-left: 0px;
    display: block;

}

.road-assistance {
    padding: 10px 0;
}

.right-section .navigation {
width: 100%;
}

.flex-sm-column{
    flex-direction: column ;
}

#landingpage .leftsection, #landingpage .imagesection{
    width: 100%;
}

#landingpage .leftsection{
    order: 2;
}

#landingpage .imagesection{
    order: 1;
}

.leftsection h1 {
    font-size: 35px;
}

#quotesection .firstsection, #quotesection .ndsection{
    width: 100%;
}

#quotesection .firstsection h2, #quotesection .ndsection h3{
    font-size: 35px;
}

#quotesection .firstsection{
    margin-bottom: 30px;
}

#quotesection .firstsection .fortext{
    width: 80%;
}

#quotesection .firstsection .imagew{
    width:10%;
}

#roll1section .processleft, #roll1section .processright{
    width: 100%;
}

#roll1section .processright {
    margin: 30px 0;
}

#roll1section .processright .fortext h3{
    padding: 0;
}

#offer .offering {
    flex-direction: column;
}

#offer .offering .offerbox {

width: 100%;
}

#offer h5 {
font-size: 30px;
}

#offer h2 {
    font-size: 25px;
}

#offer p {
    font-size: 15px;
}

#touch .carsection, #touch .orange-section, #touch .toolssecion {
    width: 100%;
}

#touch {
    flex-direction: column;
    min-height: 0px;
}

#touch .orange-section {
    height: 150px;
}

#touch .orange-section h2{
    font-size: 24px;
    margin-top: 20px;
}

#touch .orange-section .contact{
     margin: 10px 70px;
}

#experience .latee h2{
    font-size: 35px;
    line-height: 2rem;
}

#experience .latee p{
    font-size: 20px;
}

#brand .brandheader{
    font-size: 30px;
}

#brand .brandimagesection{
    flex-direction: column;
}

#aboutourservice .customer h3{
    font-size: 25px;
}

#aboutourservice .jonathan, #aboutourservice .smith, 
#frequently .firstbox, .amongthem, .leftfirstfooter, .rightfirstfooter{
    width: 100%;
}

#aboutourservice .smith{
    margin-top: 20px;
}

#frequently .faq .askquestion{
    font-size: 35px;
}

.amongthem{
    margin: 20px 0;
    height: 15%;
}
.firstfooter .leftfirstfooter h2{
    font-size: 35px;
}

.rightfirstfooter h5{
    font-size: 20px;
}

.mainheader{
    padding: 10px 0;
}

.footer-links{
    padding: 0px;
}

.folowing ul{
    justify-content: left;
    text-align: left;
    flex-direction: column;
}

.footerlogo{
    margin: 0 30px;
}

/*
.lowerheight{
    height: 15%;
}
*/

}